.textButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}
.textButton:hover {
  text-decoration: underline;
}

.myModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  padding: 20px;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
  width: 600px;
  border: 1px solid var(--bs-border-color);
}

.problems-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  gap: 1rem;
}

.problem-card {
  width: 19rem;
  height: 20rem;
  overflow-y: auto;
}
.problem-card:hover {
  border-color: rgb(183, 227, 255);
}